<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prescription</title>

    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/datepicker3.css" rel="stylesheet">
    <link href="assets/css/bootstrap-table.css" rel="stylesheet">
    <link href="assets/css/styles.css" rel="stylesheet">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">

    </head>
<body>

<div class="form-group">
    Date Taken: <input class="form-control" name="date_taken" type="" value="">
</div>

<div class="form-group">
    Dosage: <input class="form-control"  name="dosage" type="" value="">
</div>

<div class="form-group">
    <input class="form-control"  name="medication_id" type="hidden" value="medication_id">
</div>

<div class="form-group">
    <input class="form-control" name="patient_id" type="hidden" value="patient_id">
</div>

<div class="form-group">
    <input class="form-control" name="pharmacy_id" type="hidden" value="pharmacy_id">
</div>

<div class="form-group">
    <input class="form-control" name="doctor_id" type="hidden" value="doctor_id">
</div>




</body>
</html>