<!DOCTYPE html>
<HTML>
<head profile="profiles.htm">
    <Title>Example Profile</Title>
    <form class="form-horizontal">
        <fieldset>

            <!-- Form Name -->
            <legend>Profile</legend>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="FullName">Full Name</label>
                <div class="col-md-8">
                    <input id="FullName" name="FullName" type="text" placeholder="Full Name" class="form-control input-md" required="">
                    <span class="help-block"></span>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="DisplayName">Display Name</label>
                <div class="col-md-5">
                    <input id="DisplayName" name="DisplayName" type="text" placeholder="Display Name (optional)" class="form-control input-md">
                    <span class="help-block">displayed in your profile page</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="Email">Email</label>
                <div class="col-md-6">
                    <input id="Email" name="Email" type="text" placeholder="Valid Personal E-mail" class="form-control input-md" required="">
                    <span class="help-block">active email only please</span>
                </div>
            </div>

            <!-- Prepended text-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="Mobile">Mobile</label>
                <div class="col-md-5">
                    <div class="input-group">
                        <span class="input-group-addon"></span>
                        <input id="Mobile" name="Mobile" class="form-control" placeholder="Mobile Number" type="text" required="">
                    </div>
                </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="Address">Current Address</label>
                <div class="col-md-8">
                    <input id="Address" name="Address" type="text" placeholder="Where you live at the moment" class="form-control input-md" required="">
                    <span class="help-block"></span>
                </div>
            </div>


            <button> Submit</button>

        </fieldset>
    </form>

</head>
<BODY>
</BODY>
</HTML>